.animated {
    opacity: 0;
    transform: translateX(-20px); /* Desplazamiento desde la izquierda */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  .fade-in {
    opacity: 1;
    transform: translateX(0); /* Se coloca en su lugar */
  }
  